/* En tu archivo de estilos CSS (puedes crear uno si no lo tienes) */
.App {
    font-family: Arial, sans-serif;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #283f2d;
    /* Color café */
    padding: 8px;
    text-align: left;
}

td {
    color: white;
}

th {
    background-color: #fff;
    /* Fondo blanco para los encabezados */
}